---
---

/*
 *    Minimal Mistakes Jekyll Theme
 *
 *  - Michael Rose
 *  - mademistakes.com
 *  - https://twitter.com/mmistakes
 *
*/

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";

.paper-box {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px #efefef solid;
    padding: 2em 0 2em 0;
    

    .paper-box-image{
        justify-content: center;
        display: flex;
        width: 100%;
        order: 2;
        img {
            max-width: 400px;
            box-shadow: 3px 3px 6px #888;
            object-fit: cover;
        }
    }
    
    .paper-box-text{
        max-width: 100%;
        order: 1;
    }
    
    @include breakpoint($medium) {
        .paper-box-image{
            justify-content: left;
            min-width: 200px;
            max-width: 40%;
            order: 1;
        }

        .paper-box-text {
            justify-content: left;
            padding-left: 2em;
            max-width: 60%;
            order: 2;
        }

    }


}

$scroll_offset : 2em;
h1:before, .anchor:before { 
    content: ''; 
    display: block; 
    position: relative; 
    width: 0; 
    height: $scroll_offset; 
    margin-top: -$scroll_offset;
}

.badge {
    padding-left: 1rem;
    padding-right: 1rem;
    position: absolute;
    margin-top: .5em;
    margin-left: -.5em;
    color: white;
    // color: black;
    background-color: #4a6db3;
    // background-color: #f3d849;
    font-size: .8em;
}

.paper-links {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    margin-top: 0.75em;
    
    a {
        display: inline-block;
        padding: 0.5em 1em;
        font-size: 0.8em;
        font-weight: 500;
        text-decoration: none;
        border-radius: 4px;
        transition: all 0.2s ease-in-out;
        white-space: nowrap;
      
        &.button {
            background-color: rgba(74, 109, 179, 0.5);
            color: #FFFFFF;
            border: 1px rgba(74, 109, 179, 0.5);
          
            &:hover {
              background-color: #4a6db3;
              border-color: #4a6db3;
              color: white;
            }
          }
    }
}


.education-item, .experience-item {
    margin-bottom: 1.5em;
    
    .institution-row {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 0.25em;
    }
    
    .institution {
        font-weight: bold;
        font-size: 1.1em;
        color: $text-color;
        flex: 1;
    }
    
    .date {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 1em;
        text-align: right; 
    }

    .degree, .position  {
        font-style: italic;
        margin-right: 1em;
    }
    
    .adviser, .details {
        color: $text-color;
        font-size: 0.95em;
        margin-top: 0.25em;
        display: block;
        
        a {
            color: $link-color;
            text-decoration: none;
            
            &:hover {
                text-decoration: underline;
            }
        }
    }
    
    .achievements {
        margin-top: 0.5em;
        padding-left: 1.5em;
        
        li {
            color: $text-color;
            font-size: 0.95em;
            margin-bottom: 0.25em;
        }
    }

     @media (max-width: 768px) {
         .institution-row {
             flex-direction: column;
             align-items: flex-start;
         }

         .date {
             margin-left: 0;
             margin-top: 0.25em;
         }
     }
}