<!-- Visitor Map Card - MapMyVisitors -->
<div class="mt-3 mb-0 bg-white shadow-sm rounded-xl">
    <h6 class="p-3 mb-0 border-bottom border-gray">
        <i class="fas fa-globe-americas"></i><span style="margin-left: 0.3em;">Visitor Map</span></h6>
    <div class="card-body text-center">
        <!-- MapMyVisitors Widget -->
        <div>
            <script type="text/javascript" id="mapmyvisitors" src="https://mapmyvisitors.com/map.js?cl=addfe5&w=a&t=tt&d=Nov4M7i1_QaynZHdlYuNTfJ3tv7coB7pl1vVkiscejE&co=feffff&cmo=baa1f2&cmn=ffc4a5&ct=493f3f"></script>
        </div>

    </div>
</div>